*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: "poppins",sans-serif;
  }
  body{
    min-height:50vh;
    /* background: url(bg.jpg)no-repeat; */
    background-color: #d0d0d0;
    /* background-size:cover; */
    /* background-size: 50%;  */
    background-position:center;
  }
  .side-bar{
    /* background: rgba(255,255,0,0.1); */
    background: #38A3A5;
    backdrop-filter: blur(15px);
    width:290px;
    height:100vh;
    position:fixed;
    top:0;
    left:-100%;
    overflow-y:auto;
    transition: 0.6s ease;
    transition-property:left ;
    z-index: 1000;
  }
  .side-bar.active{
    left:0;
  }
  .side-bar .menu .item.active {
    background-color: #06797b; /* Add your desired highlighting color here */
    color: #fff; /* Add your desired text color here */
  }
  .side-bar .menu{
    width:100%;
    margin-top:80px;
  }
  .side-bar .menu .item{
    position:relative;
    cursor:pointer;
  }
  .side-bar .menu .item a{
    color: #fff;
    /* background: #232124; */
    /* background: #38A3A5; */
    font-size:16px;
    text-decoration:none;
    display: block;
    padding: 5px 30px;
    line-height: 60px;
  }
  .side-bar .menu .item a:hover{
    /* background: #8621F8; */
    background:#06797b;
    transition: 0.3s ease;
  }
  .side-bar .menu .item i{
    margin-right: 15px;

  }
  .close-btn{
    position: absolute;
    color:#fff;
    font-size: 20px;
    right:0;
    margin:25px;
    cursor:ponter;
  }
  .menu-btn{
    position:relative;
    top:0;
    left:0;
    color:#38A3A5;
    font-size:20px;
    margin:25px;
    cursor:pointer;
  }