/* .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0; 
    padding-top: 0; 
    border-bottom: 1.5px solid rgba(91, 111, 122, 0.7) ;
  }
  
  .navbar-nav {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
   
  .nav-item {
    margin-right: 20px;
    margin-bottom: 10px; 
    padding: 2px;
  }
  
  .nav-link {
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
  }
  
  
   .nav-link.active {
    font-weight: bold;
    text-decoration: underline;
    
  }
  .nav-link.active:hover {
    background-color: #257D87; 
    color: #FFFFFF; 
  }
    */
    body, ul {
      margin: 0;
      padding: 0;
    }
    
    /* Navigation bar styles */
    .navbar {
      height: 50px; /* Adjust the height as needed */
      overflow: hidden;
      border-bottom: 1.5px solid rgba(91, 111, 122, 0.7) ;
     
    }
    
    .navbar ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    
    .navbar li {
      flex: 1;
    }
    
    .navbar li a {
      display: block;
      color: #38A3A5;
      text-align: center;
      padding: 10px; /* Adjust the padding as needed */
      text-decoration: none;
      font-size: 20px;
    }
    
    .navbar li a:hover {
      background-color: #ddd;
    }
    
    
    .nav-link.active {
      font-weight: bold;
      text-decoration: underline;
      
    }
    .nav-link.active:hover {
      background-color: #257D87; 
      color: #FFFFFF; 
    }
  
  
  
   