<!DOCTYPE html>
<html>
<head>
    
    <title>index</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='navbar.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='index.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='Scretkey.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    

</head>
<body>
    <div id="secretKeyModal" class="modal">
        <div class="modal-content">
          <span class="close">&times;</span>
          <p>Enter secret key:</p>
          <input type="password" id="secretKeyInput">
          <button id="submitSecretKey">Submit</button>
        </div>
      </div>
      <!-- <div id="content" > -->
    <div id="content" class="hidden">
    {% include "navbar.html" %}
    
    <div class="container-fluid bg-light" style="height:92vh;">
      
        <div class="row ">
         
          <div class="col-8 ">
            <!-- larger div content here -->
           
            <select id="dropdown" class="language">
                <option value="">Select Languages</option>
                <option value="71">Python</option>
                <option value="50">C</option>
                <option value="62">Java</option>
                <option value="Selenium">Selenium</option>
            </select>
            
             {% if session['role']=='Admin' %}
             <select id="dropdown1" class="language">
              <optgroup label="Result"></optgroup>

                </select>
                {% endif %}
                {% if session['role']=='Admin' %}
                <div class="container1">
                  <button type="button" class="btn " id="Runbtn" style="background-color: #38A3A5; color:white; margin-left:10vw;" onclick="disableButton()" disabled>Run</button>
                  <button type="button" class="btn" id="Executebtn" style="background-color: #38A3A5; color:white;" onclick="disableButton()" disabled>Submit</button>
                  
                </div>
                {% else %}
                <div class="container1">
                  <button type="button" class="btn " id="Runbtn" style="background-color: #38A3A5; color:white; margin-left:10vw;">Run</button>
                  <button type="button" class="btn" id="Executebtn" style="background-color: #38A3A5; color:white;">Submit</button>
                 
                </div>
                {% endif %}
              
                
             
                 
            <div class="border rounded mt-2  ">
                <div class="form-floating  ">
                  <form method="POST" action="/submit">
                   
                    {% if session['role']=='Admin' %}
                    <textarea class="form-control" readonly placeholder="Write Here....." id="code_input"  name="code_input" style="height: 75vh;" onkeydown="if(event.keyCode===9){
                      var v=this.value,s=this.selectionStart,e=this.selectionEnd;this.value=v.substring(0, s)+'\t'+v.substring(e);this.selectionStart=this.selectionEnd=s+1;return false;
                  }"></textarea>
    {% else %}
    <textarea class="form-control" placeholder="Write Here....." id="code_input"  name="code_input" style="height: 75vh;" onkeydown="if(event.keyCode===9){
      var v=this.value,s=this.selectionStart,e=this.selectionEnd;this.value=v.substring(0, s)+'\t'+v.substring(e);this.selectionStart=this.selectionEnd=s+1;return false;
  }"></textarea>
    {% endif %}
    </form>
     </div>
            </div>
          </div>
          <div class="col-4">
            <div class="row ">
                <div class="mt-5">Input</div>
              <div class="col-12 mt-2">
               <div class="form-floating">
                {% if session['role']=='Admin' %}
                <textarea class="form-control" readonly placeholder="Leave a comment here" id="floatingTextarea2" name="input_area" style="height: 25vh"></textarea>
                {% else %}
                <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" name="input_area" style="height: 25vh"></textarea>
                {% endif %}
                        <label for="floatingTextarea2"></label>
                      </div>
                  </div>
             
              <div class="pt-5" style="margin-top:70px;" >Output</div>
              <div class="col-12 mt-1" >
                <div class="form-floating">
                  {% if session['role']=='Admin' %}
                  <textarea class="form-control" readonly placeholder="Leave a comment here" id="result" name="code_output" style="height: 25vh"></textarea>
                  {% else %}
                  <textarea class="form-control" placeholder="Leave a comment here" id="result" name="code_output" style="height: 25vh"></textarea>
                  {% endif %}
                     <label for="floatingTextarea2"></label>
                  </div>
                    
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
    </div>
    
   
    
</body>
<script>
    const secretKeyModal = document.getElementById("secretKeyModal");
    const secretKeyInput = document.getElementById("secretKeyInput");
    const submitSecretKeyButton = document.getElementById("submitSecretKey");
    const closeButton = document.querySelector(".close");
    const questionLink = document.getElementById('question-link');
    window.addEventListener('load', function() {
            var textarea = document.getElementById('code_input');
            textarea.value = '';
        });
        //In this we checking the Role based things
    var myValue = localStorage.getItem('role');
    if(myValue=='Admin')
        {
          console.log("this is admin");
          secretKeyModal.style.display = "none";
          document.getElementById("content").style.display = "block";

        }
        else
        {
          var sessionData = JSON.parse(localStorage.getItem('sessionData'));
          console.log("heloo")

      if(sessionStorage.getItem('secret')!= null )
      {
        console.log("user is login")
        const secretKeyModal = document.getElementById("secretKeyModal");
        document.getElementById("content").style.display = "block";
        secretKeyModal.style.display = "none";
       
      }
      else
      {
        console.log("user is not login")
        questionLink.addEventListener('click', function(event) {
      event.preventDefault(); // Prevent the default navigation behavior
      const urlParams = new URLSearchParams(window.location.search);
      const dynamicName = urlParams.get('name');
      const url = new URL(questionLink.href, window.location.origin);
      url.searchParams.set('name', dynamicName);
      window.location.href = url.href;
    });
    const currentUrl = window.location.href;
    console.log(currentUrl)
    let UserKey = null;
        fetch('https://us-east-1.aws.data.mongodb-api.com/app/application-0-awqqz/endpoint/getAdminTableDataWithoutFile')
        .then(response => response.json())
        .then(data => {
          for (let i = 0; i < data.length; i++) {
           console.log("enter")
            const item = data[i];
            if (currentUrl === item.url) {
              UserKey = item.SecretKey;
             break;
            }
          }
          console.log(UserKey)
          secretKeyModal.style.display = "block";
          secretKeyInput.focus();
          submitSecretKeyButton.addEventListener("click", () => {
      const validation = secretKeyInput.value.trim();
      if (validation === UserKey ) {
        
        sessionStorage.setItem('secret',UserKey);
        document.getElementById("content").style.display = "block";
        secretKeyModal.style.display = "none";
      } else {
        alert("Invalid secret key, please try again!");
      }
    });
        
        })
        .catch(error => console.error(error)); 
      }
        }

   
    // Add event listener to the close button
    closeButton.addEventListener("click", () => {
      secretKeyModal.style.display = "none";
    });

    function disableButton() {
      const button = document.getElementById("Runbtn");
      button.disabled = true;
    }

    const seleniumBtn=document.getElementById('selenium');
    seleniumBtn.addEventListener("click", () => {
      console.log("hello");
      const currentURL = window.location.href;
  console.log("Current URL:", currentURL);
      window.location.href = '/selenium?url=' + encodeURIComponent(currentURL);
});
    //Screen sharing feature code important
    </script>
    <script type="module">
  
      import { initializeApp } from "https://www.gstatic.com/firebasejs/10.3.1/firebase-app.js";
      import { getAnalytics } from "https://www.gstatic.com/firebasejs/10.3.1/firebase-analytics.js";
      import { getDatabase, ref, onValue, set } from "https://www.gstatic.com/firebasejs/10.3.1/firebase-database.js";
    
      
      const firebaseConfig = {
        apiKey: "AIzaSyCTjZFh1R-HgF-TTspx3S3T2d7BOPjJnGM",
        authDomain: "flask-app-b27bb.firebaseapp.com",
        databaseURL: "https://flask-app-b27bb-default-rtdb.firebaseio.com",
        projectId: "flask-app-b27bb",
        storageBucket: "flask-app-b27bb.appspot.com",
        messagingSenderId: "643677151622",
        appId: "1:643677151622:web:ea58239d04fc0415e88c07",
        measurementId: "G-EZH5DP62QM"
      };
    
      const app = initializeApp(firebaseConfig);
    const analytics = getAnalytics(app);
    
    const inputField = document.getElementById('code_input');
    
    // Reference to the Firebase Realtime Database
    const db = getDatabase();
    const dbRef = ref(db, 'text');
    
    // Listen for changes in the database and update the input field
    onValue(dbRef, (snapshot) => {
      const data = snapshot.val();
      if (data) {
        inputField.value = data;
      }
    });
//     const dropdownField = document.getElementById('dropdown');
//     onValue(dbRef, (snapshot) => {
//       console.log("this is required")
//   const data = snapshot.val();
//   console.log(data)
//   if (data) {
//     console.log("this is required")
//     // Set the input field value based on the text in Firebase
//     inputField.value = data.text;

//     // Set the dropdown field value based on the selectedOption in Firebase
//     dropdownField.value = data.selectedOption;
//   }
// });
    
    inputField.addEventListener('input', () => {
      const text = inputField.value;
      set(ref(db, 'text'), text)
        .then(() => {
          console.log('Data saved to Firebase:', text);
        })
        .catch((error) => {
          console.error('Error saving data to Firebase:', error);
        });
    });

    //for dropdown 
    

// Add an event listener to the dropdown
// dropdownField.addEventListener('change', () => {
//   const selectedOption = dropdownField.value; // Get the selected option
//   const selectedValue = dropdown.value;
//   const options = dropdown.options;
//   let selectedOptionText = '';
//   console.log("hello")

//   for (let i = 0; i < options.length; i++) {
//     if (options[i].value === selectedValue) {
//       selectedOptionText = options[i].textContent;
//       break;
//     }
//   }
//   const Selected_value= `${selectedValue}`
//   const Selected_option= `${selectedOptionText}`  
//   console.log(`Selected value: ${selectedValue}`);
//   console.log(`Selected option: ${selectedOptionText}`);
//   fetch('/select_lang', {
//   method: 'POST',
//   headers: {
//     'Content-Type': 'application/json'
//   },
//   body: JSON.stringify({
//     Selected_value: Selected_value,
//     Selected_option: Selected_option
//   })
// })
// .then(response => response.json())
// .then(data => {
  
//   // handle the response data here
//   data.forEach(item => {
//      // console.log(item.name.toString());
//      if(item.name.toString() == hashMap[Selected_option].toString())
//       {
//       globalId=item.id;
//       getValueFromServer(item.id.toString());
     
//    } 
    
//   })
//   console.log(data);
//   console.log(selectedValue);
 
// });
//   // Save both the selected option and text to Firebase
 
// });

// async function getValueFromServer(selectedValue) {
// let xmlHttpReq = new XMLHttpRequest();
// xmlHttpReq.open("GET", 'https://us-east-1.aws.data.mongodb-api.com/app/application-0-awqqz/endpoint/language', false);
// //xmlHttpReq.open("GET", 'https://us-east-1.aws.data.mongodb-api.com/app/application-0-awqqz/endpoint/getSubmissions', false);
// xmlHttpReq.send(null);
// let obj = JSON.parse(xmlHttpReq.responseText);
// const value1 = obj[0][selectedValue];
// console.log("hello new feature------------")
// console.log(value1);
// console.log("hello new feature------------")
// const inputArea = document.getElementById("floatingTextarea2");
// const outputArea = document.getElementById("result");
// const myTextarea = document.getElementById("code_input");
// if (inputArea !== null) {
//   inputArea.innerHTML = ' ';
// }
// if(outputArea!==null){
//   outputArea.value = ' ';
// }
// else
// {

//   console.log("this is not define")
// }
// const db = getDatabase();
//     const dbRef = ref(db, 'text');
// const data = {
//     text: value1,
//     selectedOption: selectedValue,
//   };
//   const inputField = document.getElementById('code_input');
//   set(ref(db, 'data'), data)
//     .then(() => {
//       console.log('Data saved to Firebase:', data);
//     })
//     .catch((error) => {
//       console.error('Error saving data to Firebase:', error);
//     });
//     onValue(dbRef, (snapshot) => {
//   const data = snapshot.val();
//   if (data) {
//     // Set the input field value based on the text in Firebase
//     inputField.value = data.text;

//     // Set the dropdown field value based on the selectedOption in Firebase
//     dropdownField.value = data.selectedOption;
//   }
// });
// }
      
    </script>    
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<script src="{{ url_for('static', filename='index.js') }}"></script>
</html>
