<!DOCTYPE html>
<html>
<head>
    <title>Code Runner</title>
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/sha256.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/awesomplete/1.1.3/awesomplete.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/awesomplete/1.1.3/awesomplete.min.js"></script>


    <style>
        /* Add some padding to the preformatted blocks */
        #codeContent, #codeContent1 {
            padding: 10px;
            background-color: #f0f0f0;
            border: 1px solid #ddd;
            margin: 0;
        }
       
    </style>
</head>
<body>
    <div class="container mt-5">
        <h2 class="text-center mb-4">Selenium Execution</h2>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="code">Enter Your Code</label>
                    <div class="container" style="margin-left:470px">
                        <button class="btn btn-link position-absolute top-0 end-0 m-2" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample" style="color:black">
                            <i class="fa-solid fa-arrow-down"></i>
                        </button>
                        <!-- ... Other content ... -->
                    </div>
                    
                    <div class="collapse" id="collapseExample">
                        
                    <pre id="codeContent">
import com.aventstack.extentreports.Status;
import org.openqa.selenium.By;
import org.openqa.selenium.Keys;
import org.openqa.selenium.WebElement;
import org.openqa.selenium.interactions.Actions;
import org.testng.annotations.Test;

import java.lang.*;
import java.util.*;
import java.awt.*;
import java.math.*;
import java.time.*;

public class App extends driverConfig{
    static String reportName=" ";

    @Test
                        </pre>
                        </div>
                    <textarea id="code" class="form-control" rows="15" placeholder="Driver is already define please make your own method and continue with execution"></textarea>
                    <div class="collapse" id="collapseExample">
                    <pre id="codeContent1">
    }
                    </pre>
                </div>
                </div>
                <button class="btn btn-primary" id="run">Run</button>
                <!-- <button class="btn btn-success" id="submit">Submit</button> -->
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="output">Output</label>
                    <textarea id="output" class="form-control" rows="5" readonly></textarea>
                </div>
            </div>
        </div>
    </div>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
       
       // Get the previous URL
       const previousURL = document.referrer; 
      let c=0;
      console.log("Previous URL:", previousURL);
      const button = document.getElementById('run');
      button.addEventListener('click', async () => {
      const editableCode = document.getElementById('code').value;
      const codeContent = document.getElementById('codeContent');
      const codeContent1 = document.getElementById('codeContent1');
      const textareaValue =codeContent.innerHTML+'\n'+editableCode + '\n'+codeContent1.innerHTML;
      console.log(textareaValue);

      //api request to get the count
      fetch('https://us-east-1.aws.data.mongodb-api.com/app/application-0-awqqz/endpoint/getSeleniumOutput')
    .then(response => response.json())
    .then(data => {
      console.log(data);
      // Iterate over the data array
      data.forEach(item => {
        if(item.url==previousURL)
        {
            if (item.hasOwnProperty("Submissions"))
            {
console.log(item.Submissions.length);
c=item.Submissions.length;
console.log(c)
            }

            else
            {
                c=0;
            }
        }
 });
 console.log("this is "+c)
 makePostRequest(c);
    })
    .catch(error => console.error(error));

     
      async function makePostRequest(c) {
        console.log(c)
      try {
        const response = await fetch('/updatewithoutchangename', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ content: textareaValue,url: previousURL,count: c }) 
        });

        if (response.ok) {
            console.log('Update successful');
        } else {
            console.log('Update failed');
        }
    } catch (error) {
        console.error('An error occurred:', error);
    }
}
    });
   
    </script>
</body>
</html>
