<!DOCTYPE html>
<html>
<head>
    <title>Success</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> 
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/awesomplete/1.1.3/awesomplete.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/awesomplete/1.1.3/awesomplete.min.js"></script>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='Home.css') }}">
    
    
</head>
<body>
  <div class="menu-btn" id="mn-btn">
    <i class="fas fa-bars"></i>
  </div>
  
   <!-- <div class="side-bar">
    <div class="close-btn">
      <i class="fas fa-times"></i>
    </div>
    <div class="menu">
      <div class="item">
        <a href="/"><i class="fas fa-desktop"></i>Dashboard</a>
      </div>
      <div class="item">
        <a href="/vetting_page" class="sub-btn"><i class="fas fa-th"></i>Vetting Page</a>
      </div>
      <div class="item">
        <a href="/login" class="sub-btn"><i class="fas fa-table"></i>Login Table</a>
      </div>
      <div class="item">
        <a href="/setting" class="sub-btn"><i class="fas fa-cogs"></i>Settings</a>
      </div>
      <div class="item">
        <a href="/about" class="sub-btn"><i class="fas fa-info-circle"></i>About</a>
      </div>

    </div>
   </div> -->
   <div class="side-bar">
    <div class="close-btn" id="close_btn">
      <i class="fas fa-times"></i>
    </div>
    <div class="menu">
      <div class="item active">
        <a href="/?page=dashboard"><i class="fas fa-desktop"></i>Home</a>
      </div>
      {% if session['role']=='Admin' or session['role']=='HR' or session['role']=='Interviewer' %}

      <!-- <div class="item">
      
        <a href="/vetting_page?page=vetting_page" class="sub-btn"><i class="fas fa-th"></i>Vetting Page</a>
      </div> -->
      {% endif %}
      <div class="item">
        <a href="/admin?page=login" class="sub-btn"><i class="fas fa-table"></i>Application</a>
      </div>
      <!-- {% if session['role']=='Admin' %}
      <div class="item">
        <a href="/setting?page=setting" class="sub-btn"><i class="fas fa-cogs"></i>Settings</a>
      </div>
      {% endif %}
      <div class="item">
        <a href="/about?page=about" class="sub-btn"><i class="fas fa-info-circle"></i>About</a>
      </div> -->
    </div>
  </div>
</body>
<script>
  
 $(document).ready(function(){
  $('.menu-btn').click(function(){
   $('.side-bar').addClass('active');
   $('.menu-btn').css('visibilty','hidden');
  })

  $('.close-btn').click(function(){
   $('.side-bar').removeClass('active');
   $('.menu-btn').css('visibilty','visible');
  })
 });
 const urlParams = new URLSearchParams(window.location.search);
const currentPage = urlParams.get('page');
const menuItems = document.querySelectorAll('.side-bar .menu .item');

menuItems.forEach(item => {
  const link = item.querySelector('a');
  const page = link.getAttribute('href').split('=')[1];

  if (page === currentPage) {
    item.classList.add('active');
  }

  item.addEventListener('click', () => {
    menuItems.forEach(item => item.classList.remove('active'));
    item.classList.add('active');
  });
});

// Remove active class from the first item if it doesn't match the current page
if (currentPage && currentPage !== 'dashboard') {
  const firstItem = document.querySelector('.side-bar .menu .item');
  firstItem.classList.remove('active');
}

sessionStorage.clear();
localStorage.clear();

</script>
</html>
